body {
	/*font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;*/
	font-family: 'roboto condensed','PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
	margin: 0;
	line-height: 1.42857143;
	color: #333;
	min-width: 6rem;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust:none
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
}
a, a:-webkit-any-link{
	text-decoration: none;
}
nav{
	background: #2f2f2f !important;	
	
}
nav a{
	color: 	#fff !important	;
}
.navbar{
	min-width: 6rem;
	border: none !important;
}
#navbar{
	min-height: 1rem;
	text-align: center;	
	line-height: 1rem;
	padding: 	0.1rem 0;
}
#navbar .nav-left{
	display: inline-block;	
	width: 	40%;
	text-align: right;
}
#navbar .nav-center{
	display: none;	
}
#navbar a:hover {
	opacity: 0.5;
}
#navbar .nav-right{
	display: inline-block;	
	width: 	40%;
	text-align: left;
}
#navbar .nav-tiem{
	display: block;
	padding: 0% 17%;
	font-size: 0.33rem;
}
#navbar .me a{
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 0.1rem 0.2rem;
}
    
.navbar-header button{
	border: none !important;
	background-color: rgb(240, 94, 45);
	margin-right: 0.2rem;
	padding: 0.2rem 0.14rem;
}
.navbar-header button span{
    background-color: #fff !important;
}
.navbar-header button:hover{
	background-color: rgb(240, 94, 45) !important;
	opacity: 0.5;
}
.navbar-header button:focus{
	background-color: rgb(240, 94, 45) !important;
}
.navbar-header a{
	padding: 0.1rem 0.2rem;
    display: inline-block;
}

.whole-view{
	background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../image/join-background.jpg");
}
.whole-view-title-group{
	padding: 4rem 0;
	text-align: center;
	color: white;
}
.whole-view-title-group .s-title
{
	font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.whole-view-title-group .s-subtitle
{
	font-size: 0.4rem;
    margin-bottom: 1.4rem;
}
.whole-view-title-group a
{
    border: 0.04rem solid white;
    border-radius: 0.08rem;
    color: white;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.44rem;
}

/*cloud style*/
.cloud{
	background-color: #f2f2f2;
}
.cloud .cloud-service{
	text-align: center;
	
}
.cloud .cloud-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	max-width: 15rem;
}
.cloud .details a{
	font-size: 0.3rem;
    color: #555;
    cursor: pointer;
    text-decoration: underline !important;
}

.cloud-title-group{
	padding: 1rem 0;
	text-align: center;
}
.cloud-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.cloud-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}
.cloud .cloud-service-container{
	padding:0.5rem 2rem;
}
.cloud-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.cloud-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}
.cloud .small-screen
{
	display: block;
	padding-bottom: 1rem;
}
.cloud .middle-screen{
	padding: 1rem 0;
}

/*vr style*/
.vr{
	background-color: #d0d0d0;
}
.vr .vr-service{
	text-align: center;
	
}
.vr .vr-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	max-width: 15rem;
}
.vr .details a{
	font-size: 0.3rem;
    color: #555;
    cursor: pointer;
    text-decoration: underline !important;
}

.vr-title-group{
	padding: 1rem 0;
	text-align: center;
}
.vr-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.vr-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}
.vr .vr-service-container{
	padding:0.5rem 2rem;
}
.vr-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.vr-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}
.vr .small-screen
{
	display: block;
	padding: 1rem 0;
}
.vr .middle-screen{
	display: none;
	padding: 1rem 0;
}

/*embed style*/
.embed{
	    background: #35393e;
}
.embed .embed-service{
	text-align: center;
	
}
.embed .embed-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	max-width: 15rem;
}
.embed .details a{
	font-size: 0.3rem;
    color: #555;
    cursor: pointer;
    text-decoration: underline !important;
}

.embed-title-group{
	padding: 1rem 0;
	text-align: center;
}
.embed-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.embed-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}
.embed .embed-service-container{
	padding:0.5rem 2rem;
}
.embed-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.embed-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}

.embed .middle-screen{
	padding: 1rem 0;
}

/*secure style*/
.secure{
	background-color: #d0d0d0;
}
.secure .secure-service{
	text-align: center;
	
}
.secure .secure-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	max-width: 15rem;
}
.secure .details a{
	font-size: 0.3rem;
    color: #555;
    cursor: pointer;
    text-decoration: underline !important;
}

.secure-title-group{
	padding: 1rem 0;
	text-align: center;
}
.secure-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.secure-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}
.secure .secure-service-container{
	padding:0.5rem 2rem;
}
.secure-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.secure-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}
.secure .small-screen
{
	display: block;
	padding: 1rem 0;
}
.secure .middle-screen{
	display: none;
	padding: 1rem 0;
}

/**/
.platform-parameters{
	background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../image/join-background.jpg");
}
.platform-parameters-title-group{
	padding: 2rem 0;
	text-align: center;
	color: white;
}
.platform-parameters-title-group .s-title
{
	font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.platform-parameters-title-group .s-subtitle
{
	font-size: 0.4rem;
    margin-bottom: 1.4rem;
}
.platform-parameters-title-group a
{
    border: 0.04rem solid white;
    border-radius: 0.08rem;
    color: white;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.44rem;
}


/*foot style*/
.footer{
	background: #2f2f2f !important;	
	height: 1.2rem;
}
.footer-info{
	width: 70%;
	margin: 0 auto; 
	text-align: center;
	line-height: 1.2rem;
}
.footer-info a{
	font-size: 0.3rem;
    color: white;
    cursor: pointer;
    text-decoration: underline !important;
}
.footer-info span{
	font-size: 0.3rem;
    color: white;
}
    
@media (min-width: 768px) { 
	#navbar{
		padding: 1.4rem 0 0 0 ;
	}
	#navbar .nav-right{
		display: inline;
	}
	#navbar .nav-left{
		display: inline;
	}
	#navbar .nav-center{
		display: inline-block;
		min-width: 1.84rem;
		max-width: 100%;	
		padding: 0 1.25%;
		margin: 0 1.25%;
		top:0.1rem;
		position: absolute;	
		width:50%;
		left:25%;
	}
	#navbar .nav-tiem{
		display: inline-block;
		padding: 0.12rem 0.4rem;
		
	}
	.navbar-header a{
		display: none;
	}
}
@media (min-width: 992px) { 
	#navbar{
		padding: 0;
	}
	#navbar .nav-right{
		display: inline-block;
		width: 	40%;
		text-align: left;
	}
	#navbar .nav-left{
		display: inline-block;
		width: 	40%;
		text-align: right;
	}
	#navbar .nav-center{
		top:initial;
		position: relative;	
		max-width: 14%;	
		padding: 0;
		margin: 0;
		width:initial;
		left:initial;
	}
	#navbar .nav-tiem{
		padding: 0.2rem 0.5rem;
	}
	/*cloud style*/
	.cloud-service-image-left{
		padding-top: 1rem;
	    padding-left: 3rem;
	}
	.cloud .middle-screen{
		width: 80%;
	}

	.cloud .middle-screen{
		display: block;
		padding-bottom: 1rem;
		width: 80%;
		margin:0 auto; 
	}

	/*vr style*/
	.vr-service-image-right{
		padding-top: 0.7rem;
    	padding-right: 3rem;
	}
	.vr .middle-screen{
		width: 80%;
		display: block;
	}
	.vr .small-screen
	{
		display: none;
	}
	.vr .middle-screen{
		display: block;
		padding-bottom: 1rem;
		width: 80%;
		margin:0 auto; 
	}

	/*embed style*/
	.embed-service-image-left{
		padding-top: 1rem;
	    padding-left: 3rem;
	}
	.embed .middle-screen{
		width: 80%;
	}

	.embed .small-screen
	{
		display: none;
	}
	.embed .middle-screen{
		display: block;
		padding-bottom: 1rem;
		width: 80%;
		margin:0 auto; 
	}

		/*secure style*/
	.secure-service-image-right{
		padding-top: 0.7rem;
    	padding-right: 3rem;
	}
	.secure .middle-screen{
		width: 80%;
		display: block;
	}
	.secure .small-screen
	{
		display: none;
	}
	.secure .middle-screen{
		display: block;
		padding-bottom: 1rem;
		width: 80%;
		margin:0 auto; 
	}
}
@media (min-width: 1200px){
	#navbar .nav-center{
		padding: 0 1.25%;
		margin: 0 1.25%;
	}
	#navbar .nav-tiem{	
		padding: 0.2rem 0.7rem;
	}
}
  