body {
	/*font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;*/
	font-family: 'roboto condensed','PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
	margin: 0;
	line-height: 1.42857143;
	color: #333;
	min-width: 6rem;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust:none
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
}
a, a:-webkit-any-link{
	text-decoration: none;
}
nav{
	background: #2f2f2f !important;	
	
}
nav a{
	color: 	#fff !important	;
}
.navbar{
	min-width: 6rem;
	border: none !important;
}
#navbar{
	min-height: 1rem;
	text-align: center;	
	line-height: 1rem;
	padding: 	0.1rem 0;
}
#navbar .nav-left{
	display: inline-block;	
	width: 	40%;
	text-align: right;
}
#navbar .nav-center{
	display: none;	
}
#navbar a:hover {
	opacity: 0.5;
}
#navbar .nav-right{
	display: inline-block;	
	width: 	40%;
	text-align: left;
}
#navbar .nav-tiem{
	display: block;
	padding: 0% 17%;
	font-size: 0.33rem;
}
#navbar .me a{
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 0.1rem 0.2rem;
}
    
.navbar-header button{
	border: none !important;
	background-color: rgb(240, 94, 45);
	margin-right: 0.2rem;
	padding: 0.2rem 0.14rem;
}
.navbar-header button span{
    background-color: #fff !important;
}
.navbar-header button:hover{
	background-color: rgb(240, 94, 45) !important;
	opacity: 0.5;
}
.navbar-header button:focus{
	background-color: rgb(240, 94, 45) !important;
}
.navbar-header a{
	padding: 0.1rem 0.2rem;
    display: inline-block;
}

.slide{
	color: white;
	padding-top: 1rem;
	background-repeat: repeat; 
	background-size: auto; 
	background-color: transparent; 
	background-position: 50% 50%; 
	background-image: url("../image/slide-background.jpg");
}
.slide .left{
	height: 8rem;
	text-align: center;
	padding-top: 1.4rem;
}

.slide .left h1{
	font-size: 0.9rem;
	margin-bottom: 0.8rem;
}

.slide .left h4{
	font-size: 0.4rem;
	margin-bottom: 1.4rem;
}
.slide .left a{
	background: transparent;
    border: 0.04rem solid white;
    border-radius: 0.08rem;
    color: white;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.44rem;
}
.slide .right{
	height: 8rem;
	text-align: center;
}
.share-title-group{
	text-align: center;
	padding: 1rem 0;
}
.share-title-group .s-title{
	 font-size: 0.8rem;
}

.share-title-group .s-subtitle{
	 margin-top: 0.2rem;
	 font-size: 0.5rem;
	 color: #999;
}
.share{
	/*padding: 0.5rem 0;*/
	background-color: #f2f2f2;
}
.share .share-service{
	text-align: center;
}
.share .share-service-content{
	margin-top: 0.5rem;
	font-size: 0.4rem;
}
.share .details
{
	text-align: center;
	padding: 1.2rem 0;
}
.share .details a{
	font-size: 0.3rem;
	color: #555;
	cursor: pointer;
	text-decoration: underline !important;
}
.discovery{
	background-repeat: repeat;
    background-size: auto;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../image/discovery-background.jpg");
}
.discovery-title-group{
	padding: 3rem 0;
	text-align: center;
}
.discovery-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.discovery-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}

.discovery .details
{
	text-align: center;
	padding: 1.2rem 0;
}
.discovery .details a{
	font-size: 0.3rem;
	color: white;
	cursor: pointer;
	text-decoration: underline !important;
}

.show{
	background: #35393e;
}
.show .show-service{
	text-align: center;
	
}
.show .show-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	max-width: 15rem;
}
.show .details a{
	font-size: 0.3rem;
    color: #555;
    cursor: pointer;
    text-decoration: underline !important;
}

.show-title-group{
	padding: 1rem 0;
	text-align: center;
}
.show-title-group .s-title{
	color: white;
	font-size: 0.8rem;
}

.show-title-group .s-subtitle{
	 margin-top: 0.4rem;
	 font-size: 0.4rem;
	 color: white;
}
.show .show-service-container{
	padding:0.5rem 2rem;
}
.show-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.show-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}
.show .small-screen
{
	display: block;
	padding-bottom: 1rem;
}
.show .middle-screen{
	display: none;
	padding-bottom: 1rem;
}
.customer{
	background-color: #f2f2f2;
}
.customer .customer-service{
	text-align: center;
	
}
.customer .customer-service-text
{
	background-color: white;
	padding: 0.5rem 0.3rem;
	border-radius: 3px;
	margin-top: 0.5rem;
	min-width: 3.6rem;
	width:100%;
}

.customer-title-group{
	padding: 1rem 0;
	text-align: center;
}

.customer-title-group .s-title{
	 font-size: 0.8rem;
}

.customer-service-container
{
	padding: 1.5rem 0;
	width: 80%;
    margin: 0 auto;
}
.customer-service-title{
	font-size: 0.5rem;
	margin-bottom: 0.2rem;

}
.customer-service-content{
	font-weight: bold;
    font-size: 0.35rem;
	color: #f35c2c;
	margin-bottom: 0.2rem;
}
.join{
	background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../image/join-background.jpg");
}
.join-title-group{
	padding: 1.5rem 0;
	text-align: center;
	color: white;
}
.join-title-group .s-title
{
	font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.join-title-group .s-subtitle
{
	font-size: 0.4rem;
    margin-bottom: 1.4rem;
}
.join-title-group a
{
    border: 0.04rem solid white;
    border-radius: 0.08rem;
    color: white;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.44rem;
}
.footer{
	background: #2f2f2f !important;	
	height: 1.2rem;
}
.footer-info{
	width: 70%;
	margin: 0 auto; 
	text-align: center;
	line-height: 1.2rem;
}
.footer-info a{
	font-size: 0.3rem;
    color: white;
    cursor: pointer;
    text-decoration: underline !important;
}
.footer-info span{
	font-size: 0.3rem;
    color: white;
}
    
@media (min-width: 768px) { 
	.slide{
		padding-top: 3rem;
	}
	.slide .left{
		padding-top: 2rem 0;
	}
	
	#navbar{
		padding: 1.4rem 0 0 0 ;
	}
	#navbar .nav-right{
		display: inline;
	}
	#navbar .nav-left{
		display: inline;
	}
	#navbar .nav-center{
		display: inline-block;
		min-width: 1.84rem;
		max-width: 100%;	
		padding: 0 1.25%;
		margin: 0 1.25%;
		top:0.1rem;
		position: absolute;	
		width:50%;
		left:25%;
	}
	#navbar .nav-tiem{
		display: inline-block;
		padding: 0.12rem 0.4rem;
		
	}
	.navbar-header a{
		display: none;
	}
	.share .share-service{
		margin:0.8rem 0;
	}
}
@media (min-width: 992px) { 
	.slide{
		padding-top: 100px;
	}
	.slide .left{
		height: 10rem;
		text-align: center;
		padding: 2rem 0;
	}
	.slide .right{
		height: 10rem;
		text-align: center;
		padding: 2rem 0;
	}
	#navbar{
		padding: 0;
	}
	#navbar .nav-right{
		display: inline-block;
		width: 	40%;
		text-align: left;
	}
	#navbar .nav-left{
		display: inline-block;
		width: 	40%;
		text-align: right;
	}
	#navbar .nav-center{
		top:initial;
		position: relative;	
		max-width: 14%;	
		padding: 0;
		margin: 0;
		width:initial;
		left:initial;
	}
	#navbar .nav-tiem{
		padding: 0.2rem 0.5rem;
	}
	.show-service-image-right{
		padding-top: 0.7rem;
    	padding-right: 3rem;
	}
	.show-service-image-left{
		padding-top: 0.7rem;
	    padding-left: 3rem;
	}
	.show .small-screen
	{
		display: none;
	}
	.show .middle-screen{
		display: block;
	}
}
@media (min-width: 1200px){
	#navbar .nav-center{
		padding: 0 1.25%;
		margin: 0 1.25%;
	}
	#navbar .nav-tiem{	
		padding: 0.2rem 0.7rem;
	}
}
  