body {
	/*font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;*/
	font-family: 'roboto condensed','PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	min-width: 250px;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
}
a, a:-webkit-any-link{
	text-decoration: none !important;
}
nav{
	background: #2f2f2f !important;	
	
}
nav a{
	color: 	#fff !important	;
}
.navbar{
	min-width: 250px;
}
#navbar{
	min-height: 50px;
	text-align: center;	
	line-height: 50px;
	padding: 	5px 0;
}
#navbar .nav-left{
	display: inline-block;	
	width: 	40%;
	text-align: right;
}
#navbar .nav-center{
	display: none;	
}
#navbar a:hover {
	opacity: 0.5;
}
#navbar .nav-right{
	display: inline-block;	
	width: 	40%;
	text-align: left;
}
#navbar .nav-tiem{
	display: block;
	padding: 0% 17%;
	font-size: 16px;
}
.navbar-header button{
	border: none !important;
	background-color: rgb(240, 94, 45);
	margin-right: 10px;
	padding: 10px 7px;
}
.navbar-header button span{
    background-color: #fff !important;
}
.navbar-header button:hover{
	background-color: rgb(240, 94, 45) !important;
	opacity: 0.5;
}
.navbar-header button:focus{
	background-color: rgb(240, 94, 45) !important;
}
.navbar-header a{
	padding: 5px 10px;
    display: inline-block;
}
@media (min-width: 768px) { 
	#navbar{
		padding: 70px 0 0 0 ;
	}
	#navbar .nav-right{
		display: inline;
	}
	#navbar .nav-left{
		display: inline;
	}
	#navbar .nav-center{
		display: inline-block;
		min-width: 92px;
		max-width: 100%;	
		padding: 0 1.25%;
		margin: 0 1.25%;
		top:5px;
		position: absolute;	
		width:50%;
		left:25%;
	}
	#navbar .nav-tiem{
		display: inline-block;
		padding: 6px 20px;
		
	}
	.navbar-header a{
		display: none;
	}
}
@media (min-width: 992px) { 
	#navbar{
		padding: 0;
	}
	#navbar .nav-right{
		display: inline-block;
		width: 	40%;
		text-align: left;
	}
	#navbar .nav-left{
		display: inline-block;
		width: 	40%;
		text-align: right;
	}
	#navbar .nav-center{
		top:initial;
		position: relative;	
		max-width: 14%;	
		padding: 0;
		margin: 0;
		width:initial;
		left:initial;
	}
	#navbar .nav-tiem{
		padding: 10px 25px;
	}
}
@media (min-width: 1200px){
	#navbar .nav-center{
		padding: 0 1.25%;
		margin: 0 1.25%;
	}
	#navbar .nav-tiem{	
		padding: 10px 35px;
	}
}
  